<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Workpermit · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header>
      <section class="container">
        <nav role="navigation">
          <%= if signed_in?(@conn) do %>
            <%= link "Sign out", to: session_path(@conn, :delete), method: :delete %>
          <% else %>
            <%= link "Log in", to: session_path(@conn, :create) %>
            <%= link "Sign up", to: user_path(@conn, :new) %>
          <% end %>
        </nav>
      </section>
    </header>
    <main role="main" class="container">
      <%= Enum.map(get_flash(@conn), fn {flash_key, flash_message} -> %>
        <p class="alert alert-<%= flash_key %>"><%= flash_message %></p>
      <% end) %>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
