<!DOCTYPE html>
<html lang="<%= gettext("en") %>">
  <head>
    <%= render "components/head.html", conn: @conn %>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/landing.css") %>">
  </head>
  <body class="leading-normal tracking-normal text-white gradient" style="font-family: 'Source Sans Pro', sans-serif;">
    <%= render "components/nav.html", conn: @conn, tenant: assigns[:tenant] %>
    <%= svelte "test", %{:first_name => "Daniel", :last_name => "Kukula"}, "border" %></div>
    <%= Enum.map(get_flash(@conn), fn {type, message} -> %>
      <%= render "components/flash.html", type: type, message: message %>
    <% end) %>
    <%= render @view_module, @view_template, assigns %>
    <%= render "components/footer.html", conn: @conn %>
    <script type="text/javascript" src="<%=Routes.static_path(@conn, "/js/landing.js") %>"></script>
  </body>
</html>
