/* Define the "system" font family */
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

/* Now, let's apply it on an element */
body {
  font-family: "system";
}
[x-cloak] {
  display: none;
}
.trhide {
  max-height: 0;
  transition: max-height 1s ease-out, font-size 1s ease-out;
}

.trshow {
  max-height: 500px;
}

/*@import "tailwindcss/base";*/
@tailwind base;

/* navbar */
.active {
  @apply bg-gray-light;
}
.invert {
  -webkit-filter: invert(1);
  filter: invert(1);
}
.gradient {
  background: #1e130c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,  #1e130c, #9a8478);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1e130c, #9a8478); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.mirror {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}


@tailwind components;
/*@import "tailwindcss/components";*/
/* Put your custom components here */

.markdown {
  @apply text-lg text-gray-darker leading-normal;
}

.markdown > * + *,  .markdown li + li, .markdown li > p + p {
  @apply mt-6;
}
.markdown strong {
  @apply text-black font-bold;
}
.markdown a {
  @apply text-black font-semibold;
}
.markdown strong a {
  @apply font-bold;
}
.markdown h1 {
  @apply leading-tight text-2xl font-bold text-black mb-2 mt-10;
} 
.markdown h2 {
  @apply leading-tight text-xl font-bold text-black mb-2 mt-10;
}
.markdown h3 {
  @apply leading-tight text-lg font-bold text-black mt-8 -mb-2;
}
.markdown code {
  @apply font-mono text-sm bg-gray-lighter px-1;
}
.markdown pre code {
  @apply block bg-black p-4 rounded;
}
.markdown blockquote {
  @apply border-l-4 border-gray-light pl-4 italic;
}
.markdown ul, .markdown ol {
  @apply pl-5;
  @screen sm {
    @apply pl-10;
  }
}

@import '_multi_step_form.scss';
@tailwind utilities;
/*@import "tailwindcss/utilities";*/
/* Put your custom utilities here */

@import "../node_modules/nprogress/nprogress.css";
