<div class="w-full max-w-lg pt-16 mx-auto content-center flex-1">
<h1 class="c-h3 p-5 text-gray-darker"><%= gettext("Edit User") %></h1>
<%= render "form.html", Map.put(assigns, :action, Routes.user_path(@conn, :update, @user)) %>
</div>
