<h1><%= gettext("New User") %></h1>

<%= render "form.html", Map.put(assigns, :action, Routes.user_path(@conn, :create)) %>

<span><%= link gettext("Back"), to: Routes.user_path(@conn, :index) %></span>
