name: Elixir CI

on: push

jobs:
  build:

    runs-on: ubuntu-latest

    container:
      image: elixir:1.9.1
      
    services:
      postgres:
        image: postgres
        ports:
          - 5432:5432
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_USER: postgres
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
    - uses: actions/checkout@v1
    - name: Install Dependencies
      run: |
        echo 'deb http://archive.ubuntu.com/ubuntu bionic universe multiverse' >> /etc/apt/sources.list; apt-get update;
        apt-get install nodejs chromium
        mix local.rebar --force
        mix local.hex --force
        mix deps.get
        npm install --prefix assets
    - name: Run Tests
      run: |
        chromedriver & mix test && pkill chromedriver
      env:
        DB_HOST: postgres
