name: Elixir CI

on: push

jobs:
  build:

    runs-on: ubuntu-latest
      
    services:
      postgres:
        image: postgres
        ports:
          - 5432:5432
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_USER: postgres
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
    - uses: actions/checkout@v1
    - name: Install Dependencies
      run: |
        mix local.rebar --force
        mix local.hex --force
        mix deps.get
    - name: Elixir actions (Credo, Sobelow and formatting)
      uses: Nitrino/actions-elixir@v1.0
    - name: Run Tests
      run: |
        mix test
      env:
        DB_HOST: postgres
